################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ML/v17/.suo
/.vs/ML/v17/DocumentLayout.json
*.vsidx
*.cache
*.editorconfig
/bin
/obj
/.vs